<!DOCTYPE html>

{% load static %}

<html lang='ja'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit-=no">
    <title>login to twitter</title>
  </head>
  <body>
    <main>
      {% comment %}request.session辞書にアクセスできたわ{% endcomment %}
      {% if request.session.access_token %}
      <p>現在access_tokenを持っています</p>
      {% endif %}
      <div> 
        <a href="{% url 'getImagesFromTwitter:login_twitter' %}">
          Twitterにloginする
        </a>
      </div>
      <div>
        <a href="{% url 'getImagesFromTwitter:get_images' %}">
          いらすとげったー
        </a>
      <div>
        <a href="{% url 'getImagesFromTwitter:label' %}">
          らべりんぎんぐ
        </a>
      </div>
      <div>
        <a href="{% url 'getImagesFromTwitter:labeled' %}">
          ぶんるいちぇっかー
        </a>
      </div>
      </div>
    </main>
  </body>
</html>
