<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset='utf-8'>
    <title>labeling</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href={% static "node_modules/bootstrap/dist/css/bootstrap.min.css" %}>
    <style>
      .sizeofthumb {
        width: 20vw;
        height: auto;
      }
    </style>
  </head>
  <body>
    <main>
      <a class="btn btn-primary"
         href="{% url 'getImagesFromTwitter:index' %}">
        indexに戻る
      </a>
      <div class="p-2 m-2">
        <p class="text-primary m-2 p-2">
          ラベル済み / トータル画像数 :
          <span class="bg-primary text-white font-weight-bold m-2 p-2">
            {{ img_counts.labeled }} / {{ img_counts.total }}
          </span>
        </p>
        <p>
          イラスト: <span class="font-weight-bold">{{ img_counts.illust }}<span> 枚
        </p>
        <p>
          写真:  <span class="font-weight-bold">{{ img_counts.photo }}<span> 枚
        </p>
        <p>
          スクショ:  <span class="font-weight-bold">{{ img_counts.sc }}<span> 枚
        </p>
        <p>
          その他:   <span class="font-weight-bold">{{ img_counts.other }}<span> 枚
        </p>
      </div>
      <form method='POST'>
        <div class="d-flex flex-wrap">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for image, form, txt in zips %}
              <div class="sizeofthumb p-2 border">
                <img class="img-fluid" src="{{ image.media_url_https }}">
                <p>{{ image.screen_name }}</p>
                <p>{{ txt }}</p>
                {{ form }} 
              </div>
            {% endfor %}
        </div>
        <button class="m-2 btn btn-danger" type='submit'>ラベル完了!!</button>
      </form>
    </main>
    <script src={% static "node_modules/jquery/dist/jquery.slim.min.js" %}></script>
    <script src={% static "node_modules/popper.js/dist/umd/popper.min.js" %}></script>
    <script src={% static "node_modules/bootstrap/dist/js/bootstrap.min.js" %}></script>
  </body>
</html>
