{% extends "imageclf/index.html" %}
{% load static %}

{% block title_block %}username form{% endblock %}

{% block main_block %}
<div class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>
          画像を取得したい<strong>twitterユーザのID</strong>を入力してください
        </h2>
        <p class="text-danger">@(アットマーク)は入力しないでください!</p>
      </div>
      <div class="col-12">
        <form action="{% url 'imageclf:clf' %}" method='POST' class="m-3">
          {% csrf_token %}
          {% for form in forms %}
            {{ form.label }}
            {{ form }}
            <div class="text-muted">
              {{ form.help_text|safe }}
            </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary mt-2">GO!</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
