{% extends "imageclf/index.html" %}
{% load static %}

{% block title_block %}results{% endblock %}

{% block style_add_block %}
      .sizeofthumb {
        width: 33%;
        height: auto;
      }
{% endblock %}

{% block main_block %}

<a class="btn btn-primary m-1 p-1"
   href="{% url 'imageclf:index' %}">
  戻る
</a>

{% if not images %}
<div class="container">
  <div class="row">
    <div class="col-md-6 bg-secondary">
        <h2 class="col text-white align-self-center shadow">イラスト</h2>
        <div class="d-flex flex-wrap">
            {% for img in illust_data %}
            <div class="sizeofthumb p-2 shadow">
                      <a href="{{ img.tweet_url }}" target="_blank">
                        <img class="img-fluid" src="{{ img.media_url_https }}">
                      </a>
                      <p>{{ img.proba }}</p>
                      {% if img.proba < 0.75 %}
                        <p class="text-danger">イラストじゃないかも？？</p>
                      {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-6 bg-light">
      <h2 class="col align-self-center shadow">写真</h2>
      <div class="d-flex flex-wrap">
          {% for img in photo_data %}
          <div class="sizeofthumb p-2 shadow">
                    <a href="{{ img.tweet_url }}" target="_blank">
                      <img class="img-fluid" src="{{ img.media_url_https }}">
                    </a>
                    <p>{{ img.proba }}</p>
                    {% if img.proba < 0.75 %}
                      <p class="text-danger">写真じゃないかも？？</p>
                    {% endif %}
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
</div>
{% else %}
      <div class="d-flex flex-wrap">
          {% for img in images %}
          <div class="sizeofthumb p-2">
                    <a href="{{ img.tweet_url }}" target="_blank">
                      <img class="img-fluid" src="{{ img.media_url_https }}">
                    </a>
                    <!--
                    <p>{{ img.text }}</p>
                    -->
          </div>
          {% endfor %}
      </div>
{% endif %}
{% endblock %}
